@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import '../../../App.scss';

.title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: $white;
}

.list-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    .list-delete {
        padding: 0.5em 1em;
        background-color: transparent;
        color: #fff;
        border-radius: 10px;
    }
}

.list-section {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    grid-column: 3;
    .list {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 400px;
        &-item{
            border: 1px solid $dark;
            position: relative;
            border-radius: 10px;
            width: 100%;
            height: 150px;
            margin: 2em 0; 
            color: $white;
            max-width: 750px;
            .item-container {
                padding: 1em;
                background-color: $dark;
                border-radius: 10px 10px 0 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                .item-title {
                    font-weight: 500;
                    width: 70%;
                    word-wrap: break-word;
                }
                .item-config {
                    display: flex;
                    gap: 20px;
                    opacity: 0;
                    color: $white;
                    transition: .5s;
                    cursor: pointer;
                    font-size: 20px;
                }
            }
            .item-desc {
                padding: $padding-hori;
                margin: 0.5em 0;
            }
            &:hover {
                .item-config {
                    opacity: 1;
                    animation: rotate 1s;
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(359deg);
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .list-section {
        padding: 0 5em;
        .list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &-item {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .list-section {
        .list {
            height: 600px;
            &::-webkit-scrollbar {
                background-color: transparent;
                width: 8px;
                height: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $dark-purple;
                border-radius: 15px;
                box-shadow: $purple 0px 5px 15px;
            }
            &-item {
                width: 90%;
            }
        }
    }
    .title {
        text-align: left;
        padding: 1em 4em;
    }
    .list-section {
        border-left: 1px solid $gray;
        padding: 0 5em;
    }
}