@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

$back-color: #f6f6f6;
$back-dark-color: rgb(14, 14, 14);
$secondary-back-color: #e4e4e4;

$padding-vert: 1em 0;
$padding-hori: 0 1em;
$padding: 1em;

$dark: #202020;
$purple: rgb(129, 26, 129);
$dark-purple: rgb(116, 7, 116);
$gray: #b8b8b8;
$red: rgb(155, 46, 46);
$green: rgb(9, 109, 9);
$white: #fff;
$black: #000;
$font: 'Roboto', sans-serif;;