@import '../../../../styles/variables';

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    &-title {
        font-family: 'Roboto', sans-serif;
        padding-top: 1em;
        font-size: 18px;
    }
    &-title-task {
        padding: $padding-vert;
        .inputTitle {
            padding: 1em;
            width: 80%;
            border-radius: 10px;
    
            outline: none;
            border: 1px solid $gray;
    
            font-size: 1em;
        }
    }
    &-desc-task {
        .inputDesc {
            padding: 1em;
            width: 80%;
            border-radius: 10px;
    
            outline: none;
            border: 1px solid $gray;
    
            font-size: 1em;
        }
    }
}