.header {
    background-color: purple;
    height: 8vh;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    .header-container {
        font-size: 0.8em;
        color: white;
    }
    .menu {
        color: white;
    }
}